/* Smooth Scroll */
html {
    scroll-behavior: smooth;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}

/* Body */
body {
    display: flex;
    background: #1a1325;
    color: #f3e8ff;
}

/* Sidebar */
.sidebar {
    width: 230px;
    height: 100vh;
    background: #2e1a47;
    color: #e9d5ff;
    padding: 20px;
    position: fixed;
    border-right: 2px solid #6b21a8;
}

.sidebar h2 {
    margin-bottom: 25px;
    font-style: italic;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin: 18px 0;
}

.sidebar ul li a {
    color: #c4b5fd;
    text-decoration: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
}

.sidebar ul li a:hover {
    color: #ffffff;
}

/* Social Icons */
.socials {
    text-align: center;
}

.socials a {
    color: #c4b5fd;
    margin: 0 10px;
    font-size: 20px;
    transition: 0.3s;
}

.socials a:hover {
    color: #ffffff;
}


/* Main */
.main {
    margin-left: 250px;
    padding: 30px;
    width: 100%;
}

/* Card */
.card {
    background: #2a1f3d;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 1px solid #6b21a8;
    box-shadow: 0 0 15px rgba(168, 85, 247, 0.2);
}

.card img {
    width: 140px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #a855f7;
}

.box img {
    width: 50%;
    border-radius: 10px;
}

/* Profile Layout */
.profile-card {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-card img {
    width: 140px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #a855f7;
}

.profile-text h1 {
    margin-bottom: 8px;
}

.profile-text p {
    color: #d8b4fe;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #6b21a8;
    padding: 10px;
}

/* Containers */
.container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.box {
    background: #3b2a5a;
    padding: 20px;
    border-radius: 10px;
    flex: 1 1 150px;
    text-align: center;
    transition: 0.3s;
}

.box:hover {
    background: #5b3b8a;
    transform: translateY(-5px);
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #6b21a8;
    background: #1a1325;
    color: white;
}

button {
    padding: 10px;
    border: none;
    background: #7e22ce;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #a855f7;
}
